html, body{
	/*background-color: rgb(105, 93, 93);*/
	margin: 0px;
	width: 100%;
	height: 100%;
	display: flex;
}

#ecranjeux{
	height: 100%;
	width: 100%;
}


/*Menu Haut*/
.menuhaut{
	position: absolute;
	display: flex ;
	flex-direction:row;
	justify-content: space-between;
	height: 30%;
}

#h1Name{
	height: 30px;
	font-style:italic;
	border: 2px solid rgb(185, 226, 20);
	justify-content: center;
}

#imgMap{
	width: 100%;
	height: 100%;
	display: flex;
}

/*Menu DROITS*/
.menu-droit{
	width: 20%;
	height: 25%;	
	margin-top: 50px;	
    margin-right: 10px;

  
	display: flex;
	flex-direction:column;
	align-items: flex-end;	
	justify-content: space-around;
}

#imgLife{
	display: flex;
	padding-bottom: 5px;
}

#imgAmmu{
	display: flex;
	padding-bottom: 5px;
}


#imgPlay{display: flex;}
/*Fin Côté DROITS*/

/*Fin Menu Haut*/

.menu-mil{	
	position: absolute;	
	display: flex;
	justify-content: center;
	align-items: center;
}

#imgTank{
	height: 200px;
	width: 250px;
}



/* Menu BAS */
.menu-bas{
	top: 70%;
	height: 30%;
	position: absolute;
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;	
}

#imgJoyst{
	width: 17%;
	height: auto;
	align-items: flex-start;
	display: flex;
	position:absolute;
	bottom: 0;
	left: 0;
}


#imgMaHu{
	display: flex;	
	position:absolute;
	transition: transform 0.5s;
}
  
#imgCible{
	display: flex;
	position:absolute;
	background-color: rgb(162, 40, 40);

}

/* Fin Menu Bas */

/*Factoriser le Code*/
.w100{width:100%;}
.h100{height: 100%;}

.wAuto{width: auto;}
.hAuto{height: auto;}
/*Fin de Factorisation de Code*/

#vs{
	background-color: white;
	color: rgb(0, 0, 0);
	font-family: verdana;
	position: absolute;
  	bottom: 0;
  	right: 0;
	border: 1px solid black;
	padding: 5px 10px;
	
}

@media (max-width: 300px) , (max-height: 300px) {
	/*Agrandir taille image en arrière plan en mode iframe*/
	#imgTank{
		width: 50vmin;
		height: 50vmin;
	}
	/*Faire disparaitre joystick en mode iframe*/
	.menu-bas,.menuhaut{
		display: none;
	}
	#ecranjeux,  #vs, #imgCible {
		display: none;
	}
}


/*Annimations Boutons */

/*  .hAuto{
	transition: all 0.5s;
  }
  
  .hAuto:hover {
	opacity: 0.9;
	transform: scale(0.1);
  }
*/
/*Fin Annimations Boutons */
