html, body{
	/*background-color: rgb(105, 93, 93);*/
	margin: 0px;
	width: 100%;
	height: 100%;
	display: flex;
    background-color: #4F4F4F;
}

/*Menu Haut*/
    .menuhaut{
        position: absolute;
        display: flex ;
        flex-direction:row;
        justify-content: space-between;
        height: 30%;
    }

    #imgHaut{
        display: flex;
        position:relative;
        width: 100%;
        left: 0px;
        top: 0px;
    }

        /*Menu HG*/
        .HG{position: absolute;
            top: 0;
            left: 0;}

            #imgMap{
                width: 70%;
                height: 70%;
                margin-left: 60px;
                margin-top: 10px;  
            }
        /*Fin Menu HG*/

        /*Menu HC*/
        .HC{position: absolute;
            top: 0;
            left: 47%;}
        .H1{}
            #h1Name{
                height: 30px;
                font-style:italic;
                border: 2px solid rgb(185, 226, 20);
                justify-content: center;
        }
        
            #imgPlay{display: flex;}

        /*Fin Menu HC*/

        /*Menu HD*/
            .HD{
                position: absolute;
                top: 10%;
                left: 80%;
            }

            #imgLife{
                background-color: red;
                width: 250px;
                display: flex;
                padding-bottom: 5px;
            }

            #imgAmmu{
                background-color: brown;
                width: 250px;
                margin-top: 20px;
                display: flex;
                padding-bottom: 5px;
            }
        /*Fin Menu HD*/

/*Fin Menu Haut*/

/*Menu Millieu*/
.menu-mil{	
	position: absolute;	
	display: flex;
	justify-content: center;
	align-items: center;
}

#imgTank{
	height: 200px;
	width: 250px;
}
/*Fin Menu Millieu*/

/* Menu BAS */
.menu-bas{
    position: absolute;
    display: flex ;
	top: 70%;
	height: 30%;
	flex-direction:row;
	justify-content: space-between;	
}
/*Menu BG*/

.BG{
    position: absolute;
    top: 0;
    left: 0;
}

#connect_joyst{
}

#imgJoyst{
    position: relative;
    margin-left: 60px;
	width: 100%;
	height: auto;
	display: flex;
}

/*Fin Menu BG*/

/*Menu BC*/
.BC{
    position: absolute;
    top: 0;
    left: 40%;
}

#imgMaHu{
    padding-left: 100px;
	display: flex;	
	position:absolute;
	transition: transform 0.5s;
}

#vs{
    width: 290px;
    margin-left: 15px;
    top: 150px;
    position:relative;
    display: flex;
    background-color: white;
    font-family: verdana;
    border: 1px solid black;
}

#imgVersion{
    position: initial;
    display: flex;    
    margin-top: 80px;
}
/*Fin Menu BC*/

/*Menu BD*/
.BD{
    position: absolute;
    top: 10%;
    left: 80%;
    }

#imgCible{
	display: flex;
	background-color: rgb(162, 40, 40);

}

/*Fin Menu BD*/

/* Fin Menu Bas */

/*---------------------------*/

/*Factoriser le Code*/
.w100{width:100%;}
.h100{height: 100%;}

.wAuto{width: auto;}
.hAuto{height: auto;}
/*Fin de Factorisation de Code*/


@media (max-width: 300px) , (max-height: 300px) {
	/*Agrandir taille image en arrière plan en mode iframe*/
	#imgTank{
		width: 50vmin;
		height: 50vmin;
	}
	/*Faire disparaitre joystick en mode iframe*/
	.menu-bas,.menuhaut{
		display: none;
	}
	#ecranjeux,  #vs, #imgCible {
		display: none;
	}
}


/*Annimations Boutons */

/*  .hAuto{
	transition: all 0.5s;
  }
  
  .hAuto:hover {
	opacity: 0.9;
	transform: scale(0.1);
  }
*/
/*Fin Annimations Boutons */
